<!-- Floating Cart Button -->
 <!-- Only show if not on cart page -->
<!-- View Cart Button (floating on desktop, normal on mobile) -->
<button
  *ngIf="!isCartPage"
  type="button"
  [routerLink]="'/cart'"
  class="
    block sm:fixed 
    w-full sm:w-auto 
    top-0 sm:top-4 
    right-0 sm:right-4 
    bg-indigo-600 
    text-white 
    px-4 py-2 
    rounded-none sm:rounded-full 
    shadow-none sm:shadow-lg 
    text-center 
    sm:text-left 
    z-50
  "
>
  View Cart
</button>




<router-outlet></router-outlet>

<!--mSeven-->